<!doctype html>
<html lang="en">
  <head>
     {% include "PerformanceObserver.html" %}
     {% include "optimizely_web_snippet.html" %}
     {% include "tti-polyfill.html" %}
     <title>Optimizely X Web Snippet Configuration Example</title>
     <style>
       body {
         font-family: sans-serif;
       }
     </style>
  </head>
  <body>
    <div class='body_container'>
      <h1>Optimizely X Web Snippet Configuration Example</h1>
      <div>
        This page illustrates the use of Optimizely X Full Stack to deploy the Optimizely X Web snippet onto a web page.
      </div>
    </div>
    {% include "optimizely.html" %}
  </body>
</html>
