<script async="true">
"use strict";

//create Optimizely client
var script = document.createElement('script');
script.onload = function () {
    var datafile = {{ datafile | safe }};
    var optlyClient = optimizelySdk.createInstance({ datafile:datafile });
    ttiPolyfill.getFirstConsistentlyInteractive().then((tti) => {
        console.log(tti);
    });
};
script.src = "https://unpkg.com/@optimizely/optimizely-sdk@2.1.3/dist/optimizely.browser.umd.min.js";

document.head.appendChild(script);
</script>